.goodBtn {
  font-size: 20px;
  font-weight: 500;
  background-color: aquamarine;
}

.neutralBtn {
  font-size: 16px;
  background-color: burlywood;
}

.badBtn {
  font-size: 10px;
  background-color: rgb(236, 106, 83);
}
